*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

svg {
  height: 20px;
  width: 20px;
}

header {
  height: 8vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  /* the box shadow won't show unless i make it a z-index more than the main element */
  position: relative;
  z-index: 2;
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  background-color: #fafafa;
  height: 92vh;
}
